.head {
  background: url("../../assets/images/catalog/main-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 450px;
  width: 100%;

  @media (max-width: 760px) {
    height: auto;
    padding-bottom: 40px;
  }
}

.head__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  // align-items: center;

  padding-top: 100px;

  color: var(--color-white);
  width: 100%;

  h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: "Unbounded-sb", sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

    @media (max-width: 790px) {
      font-size: 40px;
    }

    @media (max-width: 520px) {
      font-size: 32px;
    }

    @media (max-width: 420px) {
      font-size: 24px;
    }
  }

  ol {
    display: flex;
    gap: 10px;

    margin-top: 60px;

    li {
      padding: 3px 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 20px;
      font-size: 12px;
      color: var(--color-gray-secondary);
    }

    @media (max-width: 420px) {
      margin-top: 20px;
    }
  }

  & > p {
    width: 100%;
    opacity: 0.7;
    margin-top: 10px;
    font-size: 10px;

    a {
      text-decoration: underline;
    }

    @media (max-width: 790px) {
      font-size: 12px;
      width: 100%;
    }

    @media (max-width: 420px) {
      font-size: 10px;
    }
  }
}

.head__wrapper__nav {
  ul {
    display: flex;

    li {
      a {
        display: flex;
        gap: 3px;
      }

      &:not(:last-child) {
        opacity: 0.5;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }

      &:not(:first-child) {
        padding-left: 40px;
        opacity: 0.7;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        position: relative;

        &::before {
          content: "";
          position: absolute;

          left: 5%;
          top: 40%;

          width: 20px;
          height: 1px;

          background: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

.home__form {
  border: 1px solid rgba(67, 68, 71, 0.9);
  padding: 10px;
  backdrop-filter: blur(10px);
  border-radius: 7px;

  form {
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: -1;

    @media (max-width: 728px) {
      flex-direction: column;
      width: 100%;
    }
  }

  input {
    padding: 11px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 7px;

    @media (max-width: 728px) {
      width: 100%;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  button {
    padding: 10px 25px;
    background: var(--color-blue);
    color: var(--color-white);
    border-radius: 7px;

    display: flex;
    gap: 10px;
    align-items: center;

    transition: all 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 728px) {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 728px) {
    width: 100%;
  }
}
