.advantages {
  margin-top: 50px;
}

.advantages__wrapper {
  display: flex;

  & > img {
    width: 506px;
    height: auto;
    border-radius: 10px;
  }

  ul {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 15px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      height: 130px;
      padding: 20px;
      background: var(--color-white);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      width: 100%; // Добавлено для равной ширины элементов списка

      p {
        margin-top: auto;
        font-family: "Unbounded", sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 100%; // Изменено на 100% для соответствия ширине li

        @media (max-width: 520px) {
          font-size: 10px;
        }
      }

      @media (max-width: 476px) {
        height: 105px;
        padding: 10px;
      }
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  @media (max-width: 768px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 1310px) {
    flex-direction: column;
    gap: 15px;

    & > img {
      width: 100%;
    }
  }
}
