@font-face {
  font-family: "Montserrat";
  src: local("../assets/fonts/Montserrat-Regular.ttf"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-md";
  src: local("../assets/fonts/Montserrat-Medium.ttf"),
    url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-sb";
  src: local("../assets/fonts/Montserrat-SemiBold.ttf"),
    url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-bd";
  src: local("../assets/fonts/Montserrat-Bold.ttf"),
    url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

// ===================== Unbounded =====================

@font-face {
  font-family: "Unbounded";
  src: local("../assets/fonts/Unbounded-Regular.ttf"),
    url("../assets/fonts/Unbounded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded-md";
  src: local("../assets/fonts/Unbounded-Medium.ttf"),
    url("../assets/fonts/Unbounded-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded-sb";
  src: local("../assets/fonts/Unbounded-SemiBold.ttf"),
    url("../assets/fonts/Unbounded-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded-bd";
  src: local("../assets/fonts/Unbounded-Bold.ttf"),
    url("../assets/fonts/Unbounded-Bold.ttf") format("truetype");
}
