:root {
  --color-dark: #2b2c31;
  --color-gray: #838e9e;
  --color-gray-secondary: #a8b2c0;
  --color-gray-tertiary: #d3d7de;
  --color-bg: #f0f2f2;
  --color-white: #ffffff;
  --color-blue: #272f7d;
  --color-orange: #e1a356;
  --color-light-blue: #898fc5;
}
